.cv{
display:                grid;
grid-template-columns:  1fr 5fr;
grid-auto-rows:         29.7cm;
width:                  21cm;
border:                 1px solid black;
margin:                 auto;
font-family:            sans-serif;
}

.section1{
padding:            5px;
}

.section2 {
padding:            5px;
}

.left {
background-color: #193b53;
}

.right {
background-color: white;
}

h1.name{
margin:             30px 30px 0px 30px;
font-size:          25px;
color:              white;
}

h2.job{
margin:             0px 30px 30px 30px;
color:              #e89c31;
font-size:          15px;
}

h2.sub_left{
color:              white;
}

h2.sub_right{
color:              #193b53;
}

h2.sub_left, h2.sub_right{
border-bottom:      5px solid #e89c31;
margin:             30px 30px 10px 30px;
font-size:          20px;
}

div.contact, div.social{
color:              white;
margin:             30px;
font-size:          17px;
}

p.summary{
text-align:         justify;
margin:             10px 30px 30px 30px;
color:              #193b53
}

p.experience{
margin-left:        30px;
margin-bottom:      10px;
color:              #193b53;
}

p.description{
text-align:         justify;
margin:           10px 30px 30px 30px;
color:            #193b53
}

p.quote{
text-align:         center;
color:              #193b53;
font:               sans-serif;
font-size:          20px;
}

ul.list{
text-align:         justify;
margin:           10px 30px 0px 6px;
color:            #193b53
}

.center {
display: block;
margin-left: 0px;
margin-right: 0px;
width: 100%;
height: 30%
}



